.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem 1.2rem;

  border: none;
  border-radius: 0.75rem;
  background: #00a3ff;

  color: #fff;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  @media screen and (max-width: 768px) {
    padding: 0.5rem;
    font-size: 1rem;
  }
}

.button:disabled {
  background: #33353686;
}

.button:hover {
  background: #00a2ffbe;
}

.add {
  width: 2.875rem;
  height: 2.875rem;
  flex-shrink: 0;
  padding: 0.6rem;
}
