.container {
  width: 100%;

  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 5rem;
  padding-top: 1rem;

  overflow-y: scroll;

  height: calc(100vh - 5rem);

  @media screen and (min-width: 768px) {
    padding-left: 26rem;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
