.button {
  border: none;
  border-radius: 0.75rem;
  background: #00a3ff;
  padding: 0.75rem 1.5rem;

  color: #fff;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
