.mobileSidebar {
  height: 100vh;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;

  border-right: 1px solid #303030;
  background: #121212;

  @media screen and (prefers-color-scheme: light) {
    border-right: 1px solid rgba(94, 94, 94, 0.2);
    background: #fff;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

.open {
  display: block;
  animation: slideIn 0.3s ease-in-out;
}
.closed {
  animation: slideOut 0.3s ease-in-out;
  transform: translate(-100%);
}

.sidebarHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 1.5rem;
}

.sidebarTitle {
  color: #00a3ff;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.subtitle {
  display: flex;
  align-items: center;
  gap: 1rem;

  padding: 1.6rem 1.5rem 1.6rem 1.5rem;

  color: #bcbcbc;
  font-size: 0.85rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.conversations {
  height: 82vh;
  overflow-y: scroll;
  padding-bottom: 2rem;
}
